.row
  .col-md-6.col-md-offset-3
    = form_with model: user, local: true do |f|

      = f.label :name
      = f.text_field :user_name
      - user.errors.full_messages_for(:title).each do |message|
        %div= message

      = f.label :email
      = f.text_field :user_email
      - user.errors.full_messages_for(:text).each do |message|
        %div= message

      = f.label :phone
      = f.number_field :phone_number

      = f.label :birthdate
      = f.date_field :birthdate

      = f.submit "Submit", class: "btn btn-primary"
