= link_to "Create new user", new_user_path, class: "btn btn-primary"

%h1 Users List
%table
  %tr
    %th Id
    %th User Name
    %th Email
    %th Phone number
    %th Birthdate
  - users.each do |object|
    %tr
      %td= object.id
      %td= object.user_name
      %td= object.user_email
      %td= object.phone_number
      %td= object.birthdate
      %td= link_to "Edit", edit_user_path(object), class: "btn btn-primary"
      %td= button_to "Delete", user_path(object), method: :delete, class: "btn btn-primary"


