@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: rgb(253, 250, 250);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
    color: rgb(250, 248, 248);
    text-decoration: none;
    }
  }

  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray;
    position: sticky;
    width: 100%;
    height: 50px;
    text-align: center;
    }
/* form */

th, tr {
  padding: 20px;
}